        </main>
        <footer class="mainFooter">
          {% block footer %}
            {{ renderComponent('NavigationFooter') }}
          {% endblock %}
        </footer>
      </div>
    <div class="wpFooter">
      {{ function('wp_footer') }}
    </div>
  </body>
</html>
