<flynt-component name="BlockGutenburg" class="componentSpacing" >
  <div class="container">
    <div class="content" data-size="full" data-align="center" data-text-align="center">
      {{ post.content }}
    </div>
  </div>
</flynt-component>
